<div class="disciplinas-container">
  <po-multiselect
    name="disciplinas"
    p-label="Selecione as disciplinas abaixo:"
    [p-options]="disciplinasOptions"
    [(ngModel)]="disciplinas">
  </po-multiselect>

  <po-modal #novaDisciplina p-title="Criar nova disciplina" p-size="sm">
    <app-disciplina-form
      (listaDisciplinasOptions)="updateDisciplinasOptions($event)">
    </app-disciplina-form>
  </po-modal>

  <po-button
    p-type="link"
    id="criarNovaDisciplinaModal"
    p-label="Criar nova disciplina"
    (p-click)="novaDisciplina.open()">
  </po-button>

  <po-button
    p-label="Voltar"
    p-type="secondary"
    class="btn-previous"
    (p-click)="previous()">
  </po-button>

  <po-button
    p-label="Próximo"
    id="passo2Avancar"
    p-type="primary"
    class="btn-next"
    (p-click)="next()">
  </po-button>
</div>
