<div class="disciplinas-container">
  <po-multiselect
    p-label="Selecione as disciplinas abaixo:"
    [p-options]="disciplinasOptions"
  >
  </po-multiselect>

  <po-modal #novaDisciplina p-title="Criar nova disciplina" p-size="sm">
    <form class="form-group">
      <div class="form-field">
        <label>Sigla</label>
        <input
          type="text"
          placeholder="AGT"
          name="sigla"
          [(ngModel)]="disciplina.sigla"
        >
      </div>

      <div class="form-field">
        <label>Descrição</label>
        <input
          type="text"
          placeholder="Algoritmos"
          name="descricao"
          [(ngModel)]="disciplina.descricao"
        >
      </div>

      <div class="form-field">
        <label>Carga Horária</label>
        <input
          type="number"
          placeholder="Ex: 16 (horas)"
          name="cargaHoraria"
          [(ngModel)]="disciplina.cargaHoraria"
        >
      </div>

      <div class="form-field">
        <label>Professor</label>
        <po-select [p-options]="professoresOptions"></po-select>
      </div>

      <po-button
        p-type="link"
        p-label="Incluir novo professor"
        (p-click)="novoProfessor.open()"
      >
      </po-button>

      <po-modal #novoProfessor p-size="md" p-title="Novo Professor">
        <form class="form-group">
          <div class="form-field">
            <label>Nome</label>
            <input
              type="text"
              placeholder="Messias"
              name="nome"
              [(ngModel)]="professor.nome">
          </div>

          <div class="form-field">
            <label>E-mail</label>
            <input
              type="text"
              placeholder="messias@jacó.com"
              name="email"
              [(ngModel)]="professor.email">
          </div>

          <div class="form-field">
            <label>CPF</label>
            <input
              type="number"
              placeholder="777.777.777-77"
              name="cpf" [(ngModel)]="professor.cpf">
          </div>

          <div class="form-field">
            <label>Titulação</label>
            <input
              type="text"
              placeholder="MESTRE, DOUTOR, PHD"
              name="titulacao" [(ngModel)]="professor.titulacao">
          </div>
        </form>

        <button (click)="criarProfessor()">Adicionar professor</button>
      </po-modal>

      <button (click)="criarDisciplina()">Adicionar disciplina</button>
    </form>
  </po-modal>

  <po-button
    p-type="link"
    p-label="Criar nova disciplina"
    (p-click)="novaDisciplina.open()"
  >
  </po-button>

  <po-button
    p-label="Próximo"
    p-type="primary"
    class="btn-next"
    (p-click)="next()"
  >
  </po-button>
</div>
