<div>
  <form [formGroup]="informacoesBasicasForm">
    <div>
      <po-input
        p-label="Descrição"
        name="descricao"
        p-placeholder="Calouros 2021/1 ADS"
        formControlName="descricao"
        p-required="true">
      </po-input>

      <app-validation-message
        *ngIf="hasError && !informacoesBasicasForm.get('descricao').value"
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message
        *ngIf="informacoesBasicasForm.get('descricao').errors && informacoesBasicasForm.get('descricao').value"
        textContent="Limite máximo de 30 caracteres">
      </app-validation-message>
    </div>

    <div>
      <po-number
        p-label="Ano Letivo"
        name="anoLetivo"
        p-placeholder="2021"
        formControlName="anoLetivo"
        [p-required]="hasError">
      </po-number>

      <app-validation-message
        *ngIf="hasError && !informacoesBasicasForm.get('anoLetivo').value"
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message
        *ngIf="informacoesBasicasForm.get('anoLetivo').errors?.pattern"
        textContent="Ex: 2020">
      </app-validation-message>
    </div>

    <div>
      <po-number
        p-label="Período Letivo"
        name="periodoLetivo"
        p-placeholder="1 ou 2 (semestre)"
        formControlName="periodoLetivo"
        [p-required]="hasError">
      </po-number>

      <app-validation-message
        *ngIf="hasError && !informacoesBasicasForm.get('periodoLetivo').value"
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message
        *ngIf="informacoesBasicasForm.get('periodoLetivo').value
          && informacoesBasicasForm.get('periodoLetivo').value != 1
          && informacoesBasicasForm.get('periodoLetivo').value != 2"
        textContent="1° ou 2° semestre">
      </app-validation-message>
    </div>

    <div>
      <po-input
        p-label="Vagas"
        name="numeroVagas"
        formControlName="numeroVagas"
        [p-required]="hasError"
        p-placeholder="Informe a quantidade de vagas">
      </po-input>

      <app-validation-message
        *ngIf="hasError && !informacoesBasicasForm.get('numeroVagas').value"
        textContent="Campo obrigatório">
      </app-validation-message>
    </div>
  </form>

  <po-button
    p-label="Próximo"
    p-type="primary"
    (p-click)="saveInfo()"
    class="btn-next">
  </po-button>
</div>
