<div class="informacoes-container">
  <form #form="ngForm" [formGroup]="infoForm" class="form-group">
    <div class="form-field">
      <label>Descrição</label>
      <input
        name="descricao"
        type="text"
        placeholder="Calouros 2021/1 ADS"
        [(ngModel)]="informacoesBasicas.descricao"
        formControlName="descricao"
        p-required="true"
      >

      <app-validation-message 
        *ngIf="infoForm.get('descricao').errors?.required && form.submitted" 
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message 
        *ngIf="infoForm.get('descricao').errors?.maxlength && form.submitted" 
        textContent="Limite máximo de 30 caracteres">
      </app-validation-message>
    </div>

    <div class="form-field">
      <label>Ano Letivo</label>
      <input
        name="anoLetivo"
        type="number"
        placeholder="2021"
        [(ngModel)]="informacoesBasicas.anoLetivo"
        formControlName="anoLetivo"
        p-required="true"
      >

      <app-validation-message 
        *ngIf="infoForm.get('anoLetivo').errors?.required && form.submitted" 
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message 
        *ngIf="infoForm.get('anoLetivo').errors?.pattern && form.submitted" 
        textContent="Ex: 2020">
      </app-validation-message>
    </div>

    <div class="form-field">
      <label>Período Letivo</label>
      <input
        name="periodoLetivo"
        type="number"
        placeholder="1 ou 2 (semestre)"
        [(ngModel)]="informacoesBasicas.periodoLetivo"
        formControlName="periodoLetivo"
        p-required="true"
      >

      <app-validation-message 
        *ngIf="infoForm.get('periodoLetivo').errors?.required && form.submitted" 
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message 
        *ngIf="infoForm.get('periodoLetivo').errors?.pattern && form.submitted" 
        textContent="1° ou 2° semestre">
      </app-validation-message>
    </div>

    <div class="form-field">
      <label>Vagas</label>
      <input
        name="numeroVagas"
        type="number"
        placeholder="Ex: 32"
        [(ngModel)]="informacoesBasicas.numeroVagas"
        formControlName="numeroVagas"
        p-required="true"
      >

      <app-validation-message 
        *ngIf="infoForm.get('numeroVagas').errors?.required && form.submitted" 
        textContent="Campo obrigatório">
      </app-validation-message>
    </div>

    <!-- <button class="btn-create">proximo</button> -->

    <po-button
      p-label="Próximo"
      p-type="primary"
      (p-click)="next()"
    >
    </po-button>
  </form>
</div>
