<div class="informacoes-container">
  <form #alunoForm [formGroup]="form" class="form-group">
    <div class="form-field">
      <label>Descrição</label>
      <input
        name="descricao"
        type="text"
        placeholder="Calouros 2021/1 ADS"
        [(ngModel)]="informacoesBasicas.descricao"
        formControlName="descricao"
      >

      <app-validation-message 
        *ngIf="form.get('descricao').errors?.required" 
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message 
        *ngIf="form.get('descricao').errors?.maxlength" 
        textContent="Limite máximo de 30 caracteres">
      </app-validation-message>
    </div>

    <div class="form-field">
      <label>Ano Letivo</label>
      <input
        name="anoLetivo"
        type="number"
        placeholder="2021"
        [(ngModel)]="informacoesBasicas.anoLetivo"
        formControlName="anoLetivo"
      >

      <app-validation-message 
        *ngIf="form.get('anoLetivo').errors?.required" 
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message 
        *ngIf="form.get('anoLetivo').errors?.pattern" 
        textContent="Ex: 2020">
      </app-validation-message>
    </div>

    <div class="form-field">
      <label>Período Letivo</label>
      <input
        name="periodoLetivo"
        type="number"
        placeholder="1 ou 2 (semestre)"
        [(ngModel)]="informacoesBasicas.periodoLetivo"
        formControlName="periodoLetivo"
      >

      <app-validation-message 
        *ngIf="form.get('periodoLetivo').errors?.required" 
        textContent="Campo obrigatório">
      </app-validation-message>

      <app-validation-message 
        *ngIf="form.get('periodoLetivo').errors?.pattern" 
        textContent="1° ou 2° semestre">
      </app-validation-message>
    </div>

    <div class="form-field">
      <label>Vagas</label>
      <input
        name="numeroVagas"
        type="number"
        placeholder="Ex: 32"
        [(ngModel)]="informacoesBasicas.numeroVagas"
        formControlName="numeroVagas"
      >

      <app-validation-message 
        *ngIf="form.get('numeroVagas').errors?.required" 
        textContent="Campo obrigatório">
      </app-validation-message>
    </div>
  </form>

  <po-button 
    *ngIf="form.valid; else disabledButton"
    p-label="Próximo"
    p-type="primary"
    (p-click)="next()"
  >
  </po-button>

  <ng-template #disabledButton>
    <po-button
    p-label="Próximo"
    p-type="primary"
    p-disabled
    >
  </po-button>
  </ng-template>
</div>
