.informacoes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.form-group {
  width: 16rem;
  margin-bottom: 20px;
}

.form-group, .form-field {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
}

.form-field label {
  font-size: 0.7rem;
  color: var(--color-primary);
}

.form-field input {
  border-radius: 5px;
  height: 30px;
  border: 1px solid rgba(0,0,0, .2);
  box-shadow: inset 0 1px 8px 0 rgba(0,0,0,.1);
  padding: 0 5px;
}

.form-field input:focus {
  border: 1px solid rgba(0,0,0, .4);
}

.btn-next {
  margin-top: 30px;
}