<div class="alunos-container">
  <po-multiselect
    p-label="Selecione os alunos abaixo:"
    [p-options]="alunosOptions"
    [(ngModel)]="alunos">
  </po-multiselect>

  <po-modal
    #novoAluno
    p-title="Incluir novo aluno"
    p-size="sm">
    <app-alunos-form (listaAlunos)="updateOptions($event)"></app-alunos-form>
  </po-modal>

  <po-button
    p-type="link"
    p-label="Incluir novo aluno"
    (p-click)="novoAluno.open()">
  </po-button>

  <po-button
    p-label="Voltar"
    p-type="secondary"
    class="btn-previous"
    (p-click)="previous()">
  </po-button>

  <po-button
    p-label="Concluir"
    p-type="primary"
    (p-click)="saveInfoAndFinish()"
    class="btn-next">
  </po-button>
</div>
